container_commands:
  01_mkdir_venv:
    command: |
      echo "Creating virtual environment in /var/app/staging/venv"
      python3 -m venv /var/app/staging/venv
  02_install_requirements:
    command: |
      echo "Installing requirements"
      /var/app/staging/venv/bin/pip install -r /var/app/staging/requirements.txt
  03_check_venv:
    command: |
      echo "Checking virtual environment setup"
      ls -l /var/app/staging/venv/bin/
